﻿@model IEnumerable<Book> 
@{
    ViewData["Title"] = "Home Page";
}

<h1>BooksList</h1>
<div id="searchresults">
    <table class="table">
        <tr>
            <th>
                Название книги
            </th>
            <th>
                Жанр
            </th>
            <th>
                Автор
            </th>
            <th>
                Издатель
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditBook", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteBook", new { BookId = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
