﻿@model IEnumerable<LibraryCoreProject.Models.Publisher>

@{
    ViewData["Title"] = "Список издателей";
}
<p>
    <a asp-action="Create">Добавить издателя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublisherId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.PublisherId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
