﻿
@{
    ViewData["Title"] = "Подтвердите регистрацию";
}

<h1>На вашу почту выслано письмо необходимое для подтверждения регистрации в системе.</h1>
<p>Перейдите по ссылке в письме, чтобы активировать аккаунт и иметь возможность бронировать книги</p>
<a asp-action="Index" asp-controller="Catalog" class="btn btn-primary">Хорошо</a>

