﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryCoreProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Catalog" asp-action="Index">Библиотека</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="MyBookings">Мои книги</a>
                        </li>
                        @if (this.User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-controller="Users" asp-action="Index">Панель администратора</a>
                            </li>
                        }
                        @if (this.User.IsInRole("librarian"))
                        {
                            
                    <li class="nav-item dropdown">
                        <a id="drop1" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            Панель Библиотекаря
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="AddBook" asp-controller="Book">Добавить книгу</a>
                            <a class="dropdown-item" asp-action="BookList" asp-controller="Book">Добавить книгу</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Author">Список авторов</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Genre">Список жанров</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Publisher">Список издателей</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="ReservationList" asp-controller="Librarian">Брони книг</a>
                            <a class="dropdown-item" asp-action="BookingList" asp-controller="Librarian">Выданные книги</a>
                        </div>
                    </li>      
                            
                        
                        }
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial">
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LibraryCoreProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
