﻿@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
            <div class="row">
                <div class="col">
                    @("Здравствуйте " + User.Identity.Name)
                </div>
                <div class="col">
                    <a class="btn btn-outline-secondary" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                </div>
            </div>
            
        
    }
}
else
{
    <ul class="navbar navbar-nav navbar-right">
        <li>
            <a class="btn btn-outline-secondary" asp-action="Login" asp-controller="Account">Войти</a>
        </li>
        <li>
            <a class="btn btn-outline-primary" asp-action="Register" asp-controller="Account">Регистрация</a>
        </li>
    </ul>
}