﻿@model LibraryCoreProject.ViewModels.BooksFilterViewModel
@{
    ViewData["Title"] = "Каталог";
}

<div>
    <section class="catalog-filters">
        <form asp-action="Index">
            <label asp-for="Authors"></label>
            @Html.DropDownList("AuthorId", Model.Authors as SelectList, optionLabel: "Все")
            <label asp-for="Genres"></label>
            @Html.DropDownList("GenreId", Model.Genres as SelectList, optionLabel: "Все")
            <label asp-for="Publishers"></label>
            @Html.DropDownList("PublihserId", Model.Publishers as SelectList, optionLabel: "Все")
            @Html.TextBox("searchString")

            <input class="btn btn-outline-primary" type="submit" value="Фильтр" />
        </form>
    </section>
    <div id="searchresults">
        @foreach (var book in Model.Books)
        {
        <div class="row">
            <div class="col">
                <h3>@book.Name</h3>
                <p>Автор: @book.Author.AuthorName Жанр: @book.Genre.GenreName Издательство: @book.Publisher.PublisherName</p>
                <div class="dropdown-divider"></div>
            </div>
            <div class="col">
                @if (Model.User != null && Model.User.EmailConfirmed)
                {
                    if (book.isAvailable)
                    {
                        <a class="btn btn-outline-primary" href="/Catalog/ReserveBook?BookId=@book.Id&UserId=@Model.User.Id">Бронировать</a>
                    }
                    else
                    {
                        <p>Бронирование не доступно</p>
                        if (Model.User.Subscriptions.FirstOrDefault(s => s.BookId == book.Id) == null || Model.User.Subscriptions == null)
                        {
                            <a class="btn btn-outline-primary" href="/Catalog/Subscribe?BookId=@book.Id&UserId=@Model.User.Id">Подписаться на обновления по E-mail</a>
                        }
                    }

                }
                @if (Model.User == null)
                {
                    if (book.isAvailable)
                    {
                        <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Account">Войдите чтобы иметь возможность бронировать книги</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Account">Войдите чтобы иметь возможность подписаться на уведомления</a>
                    }

                }
                else if (Model.User != null && !Model.User.EmailConfirmed)
                {
                    <p>Перейдите по ссылке в письме вышленном на Вашу почту для завершения регистрации</p>
                }
              
            </div>
            
        </div>
            
            



        }

    </div>

</div>

