﻿@model Book
@{
    ViewData["Title"] = "Книга зарезервирована";
}

<h2>Вы зарезервировали книгу "@Model.Name".</h2>
<p>Вы можете забрать зарезервированную книгу в библиотеке в течение трёх дней</p>
@Html.ActionLink("Вернуться к каталогу", "Index")
@Html.ActionLink("Мои книги", "MyBookings", "Booking")