﻿@model Book
@{
    ViewData["Title"] = "Подписка на обнолвения";
}

<h2>Вы подписались на получение уведомлений по книге "@Model.Name".</h2>
<p>Как только она станет доступна для бронирования Вы получите сообщение на Ваш E-mail</p>
@Html.ActionLink("Вернуться к каталогу", "Index")