﻿@model LibraryCoreProject.Models.Author

@{
    ViewData["Title"] = "Удаление автора";
}

<h3>Удалить?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
    </dl>
    <ul>Список книг автора:</ul>
    @foreach (var book in Model.Books)
    {
        <li>@book.Name</li>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="AuthorId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
