﻿@model IEnumerable<LibraryCoreProject.Models.Author>

@{
    ViewData["Title"] = "Список авторов";
}
<p>
    <a asp-action="Create">Добавить автора</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
