﻿@model Booking
@{
    ViewData["Title"] = "CancelBooking";
}

<h2>Отменить бронирование?</h2>
@using (Html.BeginForm())
{ 
    <input type="hidden" asp-for="Id" name="id"/>
    <input type="submit" value="Отменить" />
    @Html.ActionLink("Назад", "MyBookings")
}