﻿@model LibraryCoreProject.ViewModels.MyBookingsViewModel
@{
    ViewBag.Title = "Мои книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мои книги</title>
</head>
<body>
    <div>
        <h2>Выданные книги</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Книга </th>
                    <th>Дата выдачи </th>
                    <th>Вернуть до</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var booking in Model.Bookings)
                    {
                        {
                            <tr>
                                <td>@booking.Book.Name</td>
                                <td>@booking.RecievmentTime</td>
                                <td>@booking.RecievmentTime.Value.AddDays(7)</td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
        <h2>Забронированные книги</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Книга </th>
                    <th>Дата бронирования </th>
                    <th>Забронировано до</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@reservation.Book.Name</td>
                            <td>@reservation.BookingTime</td>
                            <td>@reservation.BookingTime.AddDays(3)</td>
                            <td><a href="/Booking/CancelBooking/@reservation.Id">Отменить бронь</a></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                    }
                }
            </tbody>
        </table>

    </div>
</body>
</html>
