﻿@model LibraryCoreProject.ViewModels.AddBookViewModel
@{
    ViewData["Title"] = "Добавление книги";
}
    <div>
        <a class="btn btn-outline-primary" href="/Book/BookList">Назад</a>
        <h2>Добавить книгу</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <fieldset>
                            <legend>Автор:</legend>
                            <div class="form-check">
                                <input asp-for="isNewAuthor" type="radio" value="true" class="form-check-input" />
                                <label class="form-check-label">Добавить нового автора</label>
                                <input asp-for="AuthorName" class="form-control" />
                                <span asp-validation-for="AuthorName" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <input asp-for="isNewAuthor" type="radio" value="false" class="form-check-input" />
                                <label class="form-check-label">Выбрать автора из списка</label>
                                <select asp-for="AuthorId" asp-items="Model.Authors" class="form-control"></select>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <fieldset>
                            <legend>Жанр:</legend>
                            <div class="form-check">
                                <input asp-for="isNewGenre" type="radio" value="true" class="form-check-input" />
                                <label class="form-check-label">Добавить новый жанр</label>
                            </div>
                            <input asp-for="GenreName" class="form-control" />
                            <span asp-validation-for="GenreName" class="text-danger"></span>

                            <div class="form-check">
                                <input asp-for="isNewGenre" type="radio" value="false" class="form-check-input" />
                                <label class="form-check-label">Выбрать жанр из списка</label>
                                <select asp-for="GenreId" asp-items="Model.Genres" class="form-control"></select>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <fieldset>
                            <legend>Издатель:</legend>
                            <div class="form-check">
                                <input asp-for="isNewPublisher" type="radio" value="true" class="form-check-input" />
                                <label class="form-check-label">Добавить нового издателя</label>
                                <input asp-for="PublisherName" class="form-control" />
                                <span asp-validation-for="PublisherName" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <input asp-for="isNewPublisher" type="radio" value="false" class="form-check-input" />
                                <label class="form-check-label">Выбрать издателя из списка</label>
                                <select asp-for="PublisherId" asp-items="Model.Publishers" class="form-control"></select>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>

            <input type="submit" value="Добавить" class="form-control" />
        }

    </div>

