﻿@using LibraryCoreProject.ViewModels
@model BooksFilterViewModel
@{
    ViewData["Title"] = "Поиск книг";
}

    <div class="float-right">
        <h2 class="d-inline">Список книг</h2>
        <a asp-action="AddBook" class="btn btn-primary">Добавить книгу</a>
    </div>
    

<div>
    <section class="catalog-filters">
        <form asp-action="BookList" asp-controller="Book">
            <label asp-for="Authors"></label>
            @Html.DropDownList("AuthorId", Model.Authors as SelectList, optionLabel: "Все")
            <label asp-for="Genres"></label>
            @Html.DropDownList("GenreId", Model.Genres as SelectList, optionLabel: "Все")
            <label asp-for="Publishers"></label>
            @Html.DropDownList("PublihserId", Model.Publishers as SelectList, optionLabel: "Все")
            @Html.TextBox("searchString")

        <input class="btn btn-outline-primary" type="submit" value="Фильтр" />
        </form>
    </section>
    <div id="searchresults">
        <table class="table">
            <tr>
                <th>
                    Название книги
                </th>
                <th>
                    Жанр
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Издатель
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.GenreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditBook", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteBook", new {id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

