﻿@model LibraryCoreProject.ViewModels.DeleteBookViewModel
@{
    ViewData["Title"] = "Удаление книги";
}

    <div>
        <label asp-for="BookName"></label>
        <strong>@Model.BookName</strong>
        <label asp-for="AuthorName"></label>
        <strong>@Model.AuthorName</strong>
        <label asp-for="GenreName"></label>
        <strong>@Model.GenreName</strong>
        <label asp-for="PublisherName"></label>
        <strong>@Model.PublisherName</strong>
        <form method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="submit" value="Удалить" class="form-control"/>
        </form>
    </div>